@import "tailwindcss";

@theme {
  --color-primary: #33C6D3;
  --color-primary-dark: #2ab1bc;
  --color-accent: #2B4458;
  --color-accent-dark: #1e3140;

  --color-background: #ffffff;
  --color-foreground: #1e293b;
  --color-muted: #f1f5f9;

  --font-sans: var(--font-manrope);
  --font-display: var(--font-rubik);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}