@import "tailwindcss";

@theme {
  --color-primary: #00AEEF;
  --color-primary-dark: #008fcd;
  --color-accent: #32D7A8;
  --color-accent-dark: #2ab68e;
  
  --color-background: #ffffff;
  --color-foreground: #1e293b;
  --color-muted: #f1f5f9;

  --font-sans: var(--font-inter);
  --font-display: var(--font-poppins);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
